.app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

canvas {
  background: #fff;
  position: fixed;
  z-index: 100;
}

.right-panels {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 150;
}

.info-panel {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
}
